# Ignore Python cache files
__pycache__/
*.pyc
*.npy

# Ignore environment files
.env

# Ignore directories
/data/
/outputs/
/run/
/weights/
/test_set/
/slurms/
/Snellius_scripts/
/pictures/
/DGSR/
logs